body {
  margin: 0;
  padding: 0;
}
.musicplayer {
  user-select: none;
  .now-playing-bar {
    padding: 0 16px;
    color: white;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .now-playing-bar__left {
      .container {
        display: flex;
        .album {
          img {
            width: 56px;
            height: 56px;
            vertical-align: middle;
          }
        }
        .song-inform {
          margin: 0 14px;
          font-size: 14px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .singer {
            margin-top: 4px;
            color: rgb(180, 180, 180);
            font-size: 12px;
          }
        }
        .like-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          i {
            font-size: 16px;
          }
        }
      }
    }
    .now-playing-bar__center {
      .container {
        .player-controls__btns {
          margin-bottom: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          div {
            margin: 0 18px;
            i {
              font-size: 15px;
            }
            &:nth-child(3) {
              i {
                font-size: 30px;
              }
            }
          }
        }
        .playback-bar {
          display: flex;
          align-items: center;
          font-size: 11px;
          .progress-bar {
            margin: 0 7px;
            height: 12px;
            display: flex;
            align-items: center;
            position: relative;
            .container {
              display: flex;
              .timeline {
                width: 700px;
                height: 4px;
                background-color: #535353;
                border-radius: 2px;
                display: flex;
                align-items: center;
                position: relative;
                .handle {
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  background: #fff;
                  position: absolute;
                  left: -6px;
                }
              }
            }
          }
        }
      }
    }
    .now-playing-bar__right {
      .container {
        display: flex;
        .waiting-list {
          a {
            text-decoration: none;
            color: white;
          }
        }
        .volume-bar {
          margin-left: 18px;
          display: flex;
          align-items: center;
          .progress-bar {
            margin-left: 10px;
            position: relative;
            .container {
              display: flex;
              .volume {
                width: 84px;
                height: 4px;
                background-color: #535353;
                border-radius: 2px;
                display: flex;
                align-items: center;
                position: relative;
              }
              .handle__volume {
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  background: #fff;
                  position: absolute;
                  right: -6px;
                }
            }
          }
        }
      }
    }
  }
}
