body {
  margin: 0;
  padding: 0;
}
.playlist {
  background-color: #121212;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .header {
    display: flex;
    justify-content: space-between;
    div {
      &:nth-child(1) {
        display: flex;
      }
    }
    color: #ffffff;
  }
  .wrapper {
    .album-cover {
      padding: 40px;
      height: 230px;
      display: flex;
      background-color: #60959b;
      div {
        &:nth-child(1) {
          img {
            width: 230px;
            height: 230px;
          }
        }
      }
      .inform {
        margin: 0 30px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        div {
          &:nth-child(1) {
            font-size: 20px;
            font-weight: bolder;
          }
          &:nth-child(2) {
            margin: 5px 0;
            font-size: 50px;
            font-weight: bolder;
          }
          &:nth-child(3) {
            font-size: 20px;
            font-weight: bolder;
          }
        }
      }
    }
    .btns {
      padding: 20px 40px;
      color: white;
      display: flex;
    }
    .list {
      .song {
        padding: 10px 40px;
        display: flex;
        justify-content: space-between;
        .song-left {
          display: flex;
          .play-btn {
            color: white;
          }
          .song-inform {
            margin: 0 20px;
            color: white;
            div {
              &:nth-child(2) {
                display: flex;
              }
            }
          }
        }
        .song-right {
          color: white;
        }
      }
    }
  }
}
