@media (min-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
  .playlist {
    font-family: Microsoft JhengHei;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-weight: bold;
    .header {
      display: flex;
      justify-content: space-between;
      div {
        &:nth-child(1) {
          display: flex;
        }
      }
      color: #ffffff;
    }
    .wrapper {
      .album-cover {
        padding: 30px;
        height: 230px;
        display: flex;
        background: rgb(88, 48, 26);
        background: linear-gradient(
          0deg,
          rgba(88, 48, 26, 1) 0%,
          rgba(108, 61, 34, 1) 18%,
          rgba(126, 72, 42, 1) 42%,
          rgba(148, 83, 46, 1) 75%
        );
        div {
          &:nth-child(1) {
            img {
              width: 230px;
              height: 230px;
              box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
            }
          }
        }
        .inform {
          margin: 0 30px;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          div {
            &:nth-child(1) {
              font-size: 20px;
              font-weight: bolder;
            }
            &:nth-child(2) {
              margin: 5px 0;
              font-size: 50px;
              font-weight: bolder;
            }
            &:nth-child(3) {
              font-size: 20px;
              font-weight: bolder;
            }
          }
        }
      }
      .wrapper__background {
        padding: 0 0 300px;
        background: rgb(15, 9, 5);
        background: linear-gradient(
          0deg,
          rgba(15, 9, 5, 1) 7%,
          rgba(11, 6, 4, 1) 68%,
          rgba(48, 27, 16, 1) 87%,
          rgba(55, 31, 18, 1) 95%
        );
        .btns {
          padding: 20px 40px;
          color: white;
          display: flex;
          align-items: center;
          .btns-play {
            font-size: 40px;
            color: green;
            &:hover {
              cursor: pointer;
            }
          }
          .btns-favorite {
            margin-left: 20px;
            font-size: 24px;
          }
          .btns-favorite-added {
            margin-left: 20px;
            font-size: 24px;
            color: green;
          }
        }
        .mobile-btns {
          display: none;
        }
        .list {
          .song {
            padding: 10px 40px;
            display: flex;
            justify-content: space-between;
            .song-left {
              display: flex;
              .play-btn {
                color: white;
                audio {
                  width: 400px;
                  height: 50px;
                }
              }
              .song-inform {
                margin: 0 20px;
                color: white;
                div {
                  &:nth-child(2) {
                    display: flex;
                  }
                }
              }
            }
            .song-right {
              color: white;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  body {
    margin: 0;
    padding: 0;
  }
  .playlist {
    font-family: Microsoft JhengHei;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-weight: bold;
    .header {
      display: flex;
      justify-content: space-between;
      div {
        &:nth-child(1) {
          display: flex;
        }
      }
      color: #ffffff;
    }
    .wrapper {
      .album-cover {
        padding: 20px 10px 30px;
        background: rgb(88, 48, 26);
        background: linear-gradient(
          0deg,
          rgba(88, 48, 26, 1) 0%,
          rgba(108, 61, 34, 1) 18%,
          rgba(126, 72, 42, 1) 42%,
          rgba(148, 83, 46, 1) 75%
        );
        div {
          &:nth-child(1) {
            display: flex;
            justify-content: center;
            img {
              width: 250px;
              height: 250px;
              box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
            }
          }
        }
        .inform {
          margin: 0 10px;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          div {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              margin: 5px 0;
              font-size: 24px;
              font-weight: bold;
              letter-spacing: 2px;
            }
            &:nth-child(3) {
              font-size: 14px;
              font-weight: bold;
              letter-spacing: 2px;
            }
          }
        }
      }
      .wrapper__background {
        padding: 0 0 100px;
        background: rgb(15, 9, 5);
        background: linear-gradient(
          0deg,
          rgba(15, 9, 5, 1) 7%,
          rgba(11, 6, 4, 1) 68%,
          rgba(48, 27, 16, 1) 87%,
          rgba(55, 31, 18, 1) 95%
        );
        .btns {
          display: none;
        }
        .mobile-btns {
          padding: 2px 20px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-around;
          background-color: gray;
          border-radius: 50px;
          width: 50%;
          margin: 0 auto;
          position: relative;
          top: -20px;
          font-weight: bold;
          .btns-play {
            display: flex;
            font-size: 16px;
            color: white;
            .btns-play-text {
              margin-left: 10px;
            }
            &:hover {
              cursor: pointer;
            }
          }
          .btns-middleline {
            width: 2px;
            height: 37px;
            background-color: #686868;
          }
          .btns-favorite {
            display: flex;
            font-size: 16px;
            color: white;
            .btns-favorite-text {
              margin-left: 10px;
            }
          }
          .btns-favorite-added {
            display: flex;
            font-size: 16px;
            color: rgb(51, 51, 51);
            .btns-favorite-text {
              margin-left: 10px;
            }
          }
        }
        .list {
          .song {
            padding: 10px 40px;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            .song-left {
              display: flex;
              .play-btn {
                color: white;
                audio {
                  width: 400px;
                  height: 50px;
                }
              }
              .song-inform {
                margin: 0 20px;
                color: white;
                div {
                  &:nth-child(2) {
                    display: flex;
                  }
                }
              }
            }
            .song-right {
              color: white;
            }
          }
        }
      }
    }
  }
}
